@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Kalnia:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  font-size: 4em;
  background: url(images/fireworks.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.new-year {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  border-radius: 500px;
  background: url(images/fireworks3.png) no-repeat;
  background-size: contain;
  background-color: #011230;
  /* opacity: 0.75; */
  color: #011230;
}
.new-year p {
  padding: 3px;
  margin: 2px;
}
#year {
  font-family: "Kalnia", sans-serif;
  color: #fc7a57;
}
@media screen and (max-width: 768px) {
  .new-year {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    flex-flow: column wrap;
    font-size: 0.5em;
  }
}
